
//colors
$primary: #aabbcc !default;
$secondary: #aabbdd !default;

$white: #ffffff;
$black: #000000;

$main-color: $black;
$bg-color: $white;


//
$line-height: 1.2 !default;
$spacer: 1rem;


//
$font-size: 14px !default;
$font-family: 'Gotham Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
